<h1 class="bg-animate">
  <span class="bg-wrap"><span class="text-animate">天気予報アプリ</span></span>
</h1>

<div class="stroke" data-controller="border">
  <div class="border top"></div>
  <div class="border right"></div>
  <div class="border bottom"></div>
  <div class="border left"></div>
  <div class="description">
    <p>このアプリは、OpenWeatherAPIとMapsJavaScriptAPIを利用しています。</p>
    <p>下記の<strong>都市名を選択して「表示」ボタンを押す</strong>、または<strong>マップ上を「クリック」</strong>してください。</p>
    <p>サーバ側で天気データを取得し、現在の天気と５日間の気温変化を表示します。</p>
    <p>APIリクエストの流れは以下の通りです</p>
  </div>

  <div data-controller="weather">
    <div class="c-loader-bg" data-weather-target="loader">
      <div class="c-loader"></div>
    </div>
    <ul>
      <li>ブラウザから「選択した都市名」または「座標」をサーバに送信</li>
      <li>サーバ側で OpenWeatherAPI に GET リクエストを送信</li>
      <li>APIのURLには、「都市名」 と 「APIキー」 が含まれる</li>
      <li>APIから取得した JSON レスポンスを解析し、天気情報（気温、湿度、風速など）を画面に表示</li>
    </ul>
    <div class="weather-form-container">
      <%= form_with url: weather_search_path, method: :get, data: { action: "submit->weather#search" } do %>
        <label for="city"><strong>都市名:</strong></label>
        <select id="city" data-weather-target="city" name="city">
          <option value="hokkaido">北海道</option>
          <option value="miyagi">宮城</option>
          <option value="tokyo">東京</option>
          <option value="niigata">新潟</option>
          <option value="ishikawa">石川</option>
          <option value="aichi">愛知</option>
          <option value="osaka" selected>大阪</option>
          <option value="hiroshima">広島</option>
          <option value="kochi">高知</option>
          <option value="fukuoka">福岡</option>
          <option value="kagoshima">鹿児島</option>
          <option value="okinawa">沖縄</option>
        </select>
        <button type="submit">表示</button>
        <div id="weather-result" data-weather-target="result"></div>
        <canvas id="weather-chart" data-weather-target="chart"></canvas>
      <% end %>
    </div>
  </div>

  <div data-controller="map">
    <div data-map-target="select" style="height: 400px"></div>
    <div class="c-loader-bg" data-map-target="loader">
      <div class="c-loader"></div>
    </div>
    <div id="weather-result" data-map-target="result"></div>
    <canvas id="weather-chart" data-map-target="chart"></canvas>
  </div>

</div>
